.banner {
  position: relative;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;

  h1 {
    width: min(1000px, 90%);
    font-size: min(max(36px, 6vw), 48px);
    letter-spacing: 1.1px;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgb(51 51 51 / 80%);
  }

  img {
    position: absolute;
    z-index: -1;
  }
}

.contact {
  display: flex;
  justify-content: center;
  gap: 64px;
  margin: 0 auto;
  padding: 96px min(max(16px, 8%), 240px) 72px;

  @media only screen and (max-width: 724px) {
    padding: 48px min(max(16px, 8%), 240px) 36px;
    flex-flow: column nowrap;
  }

  h2 {
    position: relative;
    margin-bottom: 48px;
    font-size: min(max(20px, 3vw), 28px);
    letter-spacing: 1.1px;
    color: #666666;
    &::after {
      position: absolute;
      content: "";
      width: 56px;
      height: 2px;
      left: 0px;
      bottom: -18px;
      background-color: var(--orange);
    }
  }

  & > * {
    flex: 1 0 290px;
    max-width: 444px;
  }

  .left {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;

    input,
    textarea {
      padding: 12px 24px;
      line-height: 28px;
      font-family: var(--main-font);
      font-size: 18px;
      font-weight: 400;
      border: 1px solid var(--light-grey);
      outline: none;
      &:focus {
        border: 1px solid var(--orange);
      }
    }
    textarea {
      resize: none;
    }
    button {
      padding: 24px;
      background-color: var(--orange);
      color: #ffffff;
      font-weight: 700;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: #ffffff;
        color: var(--orange);
      }
      &:disabled {
        background-color: #9d9d9d;
      }
    }
  }

  .right {
    & > div,
    & > a {
      display: flex;
      gap: 24px;
      margin: 36px 0px;
      color: #666666;

      h3 {
        font-style: normal;
        font-weight: 600;
      }

      .iconWrapper {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: var(--orange);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.map {
  margin: 0 auto -5px;
  border: none;
}
