.credentials {
  padding: 64px max(16px, 8%);
  text-align: center;
  position: relative;
  background-color: #ffffff;

  article {
    h2 {
      position: relative;
      font-size: min(max(28px, 5vw), 44px);
      margin-bottom: 44px;
      &::after {
        position: absolute;
        content: "";
        width: 56px;
        height: 2px;
        left: calc(50% - 28px);
        bottom: -18px;
        background-color: var(--orange);
      }
    }
  }

  .credentialWrapper {
    position: relative;
    width: 100%;
    height: 245px;
    overflow: hidden;
    position: relative;

    .stripe {
      animation: slide 20s linear infinite;
      animation-fill-mode: forwards;
      width: inherit;
      height: inherit;
      position: absolute;
      left: 0%;
      top: 0%;
      display: flex;

      @keyframes slide {
        0% {
          transform: translate3d(0, 0, 0);
        }
        100% {
          transform: translate3d(-1960px, 0, 0); /* The image width */
        }
      }
    }
  }

  .credential {
    display: block;
    margin-right: 64px;
    opacity: 0.5;
    transition: opacity 0.3s;
    &:last-of-type {
      margin-right: 12px;
    }

    &:hover {
      opacity: 1;
    }
  }
}
