.testimonials {
  padding: 64px max(16px, 8%);
  text-align: center;
  position: relative;
  background-color: #f5f5f5;

  article {
    h2 {
      position: relative;
      font-size: min(max(28px, 5vw), 44px);
      margin-bottom: 44px;
      &::after {
        position: absolute;
        content: "";
        width: 56px;
        height: 2px;
        left: calc(50% - 28px);
        bottom: -18px;
        background-color: var(--orange);
      }
    }
    & > p {
      color: #aaaaaa;
      margin-bottom: 96px;
    }
  }

  .testimonialWrapper {
    width: min(400px, 40vw);
    min-width: 275px;
    height: fit-content;
    flex-shrink: 0;
    user-select: none;
    margin-right: 36px;
    padding: 48px 36px 24px;
    border: 1px solid #ccc;
    background-color: #ffffff;

    &:last-of-type {
      margin-right: 0;
    }

    & > * {
      position: relative;
      color: #a5a5a5;
      font-size: 18px;
      text-align: justify;
    }

    svg {
      display: block;
      margin: 12px 0px;
      &:first-of-type {
        margin-right: auto;
      }
      &:last-of-type {
        margin-left: auto;
      }
    }
  }
}
